.tablero {
  display: grid;
  gap: 5px;
}

.fila{
  display: flex;
  gap: 5px;
}

.casilla {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 4rem;
}

.casilla:hover{
  background-color: rgb(110, 110, 110);
}